# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Go executable
# *.go

# Gin logs
gin.log

# Compiled Object files, Static and Dynamic libs (usually /pkg/)
*.o
*.a

.env

# Output directories (for generated documentation and builds)
# docs/
bin/
dist/
